*{
  box-sizing: border-box;
}

body{
  background: #F1F3F8;
  margin: 0;
}

header {
  background-color: #D6E0F0;
  color: #282A33;
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.3em;
}

.newButton{
  display: block;
  font-size: 2rem;
  background-color: rgba(154,230,139,0.8);
  color: #393B44;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  margin: 50px auto;
}

.newButton:hover{
  background-color: rgba(154,230,139,1);
}

h2{
  font-size: 1.5em;
  text-align: center;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  margin: 0 50px;
  padding: 0 200px;
}

.book-card{
  background-color: #E0E2E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: #393B44;
  font-weight: bolder;
  border: 1px solid black;
  padding: 20px;
}

.book-card:hover{
  transform: scale(1.04);
  transition: 200ms ease-in;
}

.book-card label {
  font-size: 20px;
}

.deleteButton{
  font-size: 1.2em;
  background-color: rgba(201,134,134,0.8);
  padding: 0.4em 1.5em;
  margin: 0.5em;
  border-radius: 10%;
  color: #393B44;
  font-weight: bolder;

}

.deleteButton:hover{
  background-color: #C98686; 
}

.form{
  margin: 0 auto;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  background-color: white;
  border: 2px solid black;
  border-radius: 1em;
  padding: 2em;
  font-size: 20px;
  transition: 200ms ease-in-out;
}

.form.active{
  transform: translate(-50%, -50%) scale(1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-card div {
  margin: 10px 0 15px;
}

li + li {
  margin-top: 2em;
}

.input {
  font: 1em sans-serif;
  border: 1px solid #999;
  padding: 10px;
  width: 100%;
}

input:focus {
  border-color: #000;
}

.button {
  padding: 10px;
  width: 30%;
  font-size: 20px;
  cursor: pointer;
}

.form div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 2em;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}